{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Esse projeto foi criado com o intuito de facilitar a gerência de um CA pelos alunos da <a href="//ufc.br">Universidade Federal do Ceará</a>.</p>
<p>
   A ideia nasceu no CA de Economia, concebida por <a href="//github.com/brunosaboia">Bruno Saboia de Albuquerque</a>
   Ele criou uma plataforma de votação que ajudou na obtenção da opinião dos alunos para a elaboração de uma nova grade para o curso. Dessa primeira plataforma,
   nasceu a ideia de criar-se um sistema mais completo, que pudesse ser usado de maneira sistemática para obter a opinião dos alunos sobre temas importantes.
</p>
<p>
   Os outros módulos são voltados à administração do CA pelos alunos que têm essa responsabilidade, e também à melhoria da experiência do curso pelos
   alunos em geral.
</p>

{% endblock %}