{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    Universidade Federal do Ceará <br />
    Unidade: Faculdade de Economia, Administração, Atuária e Contabilidade - FEAAC<br />
    Endereço: Av. da Universidade, 2431 - CEP 60020-180 - Fortaleza - CE - <a href="http://www.ufc.br/component/phocamaps/map/103-cursos-feaac?tmpl=component" target="_blank">Ver mapa</a><br />
        <abbr title="Phone">F:</abbr>
        +55 (85) 3366-7824
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
